<div id="repo-log-graph" class="welcome-block">
  <h2>Log</h2>
  <div>
  <pre><br/><%= (graph.map do |graph, sha, message|
                   [
                    graph,
                    if (sha.size > 2)
                      link_to_remote(truncate(sha, 10),
                                     :url => af_path(:commit, repo, :sha => sha),
                                     :html => {:title => "view commit info"})
                    else
                      sha
                    end,
                    h(message)
                   ].join("")
                 end.join("<br/>")) %></pre>
  </div>
</div>

<div id="repo-commit" class="welcome-block">
  <h2>Commit</h2>
  <div id="commit-info"></div>
</div>
