<h3>History</h3>
<div id="commit">
  <label>Last Commit:</label>
  <%= git_author(commit.author) %>
  <pre><%= commit.message %></pre>
</div>
<ul>
  <li class="action">
    <%= link_to_remote("previous",
                       :url => {:controller => :repos, :action => :previous_commit,
                                :id => repo, :sha => @commit.sha},
                       :html => {:class => 'previous', :title => 'view the previous commit'} ) %>
  </li>
</ul>
