<%= render(:partial => 'shared/header', :locals => { :repo => @repo, :git => true }) %>

<div id="git-body">
  <% if controller.action_name == "log" -%>
    <%= render(:partial => 'git_log', :locals => {:graph => @graph, :repo => @repo}) %>
  <% else -%>
    <%= render(:partial => 'git_status',
               :locals => {:repo => @repo, :changed => @changed, :untracked => @untracked}) %>
  <% end -%>
</div>
