<h2>Grep</h2>

<div class="welcome-block">
  <div>
    <p>
      Grep through the <%= link_to(@repo.name, af_path(:git, @repo)) %> git repo.
    </p>
    <%= render :partial => 'grep_form', :locals => {:repo => @repo} %>
  </div>
</div>

<div id="repo-grep-results">
  <%= render(:partial => 'grep', :locals => {:repo => @repo, :query => @query, :results => @results}) %>
</div>
