/* header */
#header {
clear:both;
}

#logo{
  float:left;
  background:url(../images/orGit.png) no-repeat;
  height: 75px;
  width: 154px;
}

#logo:hover {
  background:url(../images/orGit:hover.png) no-repeat;
}

#logo a {
  display: block;
  width: 154px;
  height: 75px;
}

#user-bar {
float: right;
font-size: 9pt;
}

#flash_notice{
  background: #cad4e0;
  border: 0.25em solid #021d3d;
  padding:0.25em;
  margin:0.25em;
  float: left;
  height:3em;
  width:20em;
}

#flash_error{
  background:#fbe3e4;
  border: .25em solid #fbc2c4;
  padding:0.25em;
  margin:0.25em;
  float: left;
  height:3em;
  width:20em;
}

/* Page View */
#page_creation_form {
display: inline;
}

.download, .save, .edit, .delete, .cancel {background:url(../icons/arrow_in.png) no-repeat;padding:.083em 0 .083em 1.75em;}
.download {background-image:url(../icons/disk.png)}
.save {background-image:url(../icons/tick_circle.png)}
.edit {background-image:url(../icons/pencil.png)}
.delete {background-image:url(../icons/trashcan.png)}
.cancel {background-image:url(../icons/cross_circle.png)}

#page-edit-actions ul, #page-header ul {
list-style: none;
font-size: 12;
}

#page-header ul.info {
float:left;
}

#page-header ul.actions {
float:right;
}

#page-edit-actions li, #page-header li {
padding: 0.5em;
margin: 0.5em;
background-color: #f1f1f3;
border: 1px solid;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

#page-header li {
display: inline;
}

#page-edit-actions li.action:hover, #page-header li.action:hover {
background-color: #a0a0a0;
}

#page-edit-actions label, #page-header label {
font-weight: bold;
font-size: 12;
}

#page-edit-body {
float: left;
}

#page-edit-actions {
float: left;
}
