/* content */
#container {
min-width: 50em;
}

/* header */
#header {
clear:both;
}

#logo{
float:left;
background:url(../images/orGit.png) no-repeat;
height: 49px;
width: 131px;
}

#logo:hover {
background:url(../images/orGit:hover.png) no-repeat;
}

#logo a {
display: block;
width: 131px;
height: 49px;
}

#header-right {
float: right;
font-size: 9pt;
}

#repo-header-grep {
margin-top: .25em;
margin-bottom: -1.25em;
}

#flash_notice{
background: #cad4e0;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
padding:0.25em;
margin-left:0.5em;
float: left;
height:36px;
}

#flash_error{
background:#fbe3e4;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
padding:0.25em;
margin-left:0.5em;
float: left;
height:36px;
}

.clear-both {
clear:both;
}

.highlight {
background-color: #feff86;
}

/**********************************************************************************/
/*                                  welcome page                                  */
.welcome-block {
width: 48%;
padding: .25em;
margin: .25em;
background-color: #b1bfd0;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

.welcome-block a {
text-decoration: none;
font-weight: bold;
color: blue;
padding: .05em;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;
}

.welcome-block a:hover {
text-decoration: underline;
}

.welcome-block div {
padding: .5em;
margin: .5em;
background-color: #f1f1f3;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

#welcome-thanks {
float: right;
}

#welcome-orgit {
float: left;
}

#welcome-repos {
float: right;
}

#welcome-repos ul {
list-style: none;
margin: 0;
padding: 0;
display: block;
}

#welcome-repos ul li {
padding: .1em;
margin: .1em;
}

#welcome-repos ul li span.welcome-repo-name {
float: left;
width: 25%;
padding: .1em;
background-color: #a0a0a0;
border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}

#welcome-repos ul li span.welcome-repo-name:hover {
background-color: #e3e3e3;
}

#welcome-repos ul li span.welcome-repo-name:hover a {
color: black;
text-decoration: bold;
}

#welcome-repos ul li span.welcome-repo-info {
padding: .25em;
padding-left: .5em;
}

#welcome-repos ul li span.welcome-repo-name a {
color: white;
text-decoration: none;
width: 100%;
height: 100%;
}

/**********************************************************************************/
/*                                    Buttons                                     */
.org, .save, .edit, .delete, .cancel, .history, .inspect, .diff, .revert, #user-bar-in, #user-bar-out, .clear, .previous, .next, .up, .html, .latex, .new {background:url(../icons/arrow_in.png) no-repeat;padding:.083em 0 .083em 1.75em;}
.save {background-image:url(../icons/tick_circle.png)}
.new {background-image:url(../icons/plus_circle.png)}
.edit {background-image:url(../icons/pencil.png)}
.delete {background-image:url(../icons/trashcan.png)}
.cancel {background-image:url(../icons/cross_circle.png)}
.history {background-image:url(../icons/clock.png)}
.inspect {background-image:url(../icons/magnifier_left.png)}
.diff {background-image:url(../icons/push_sides.png)}
.revert {background-image:url(../icons/arrow_undo.png)}
#user-bar-in {background-image:url(../icons/lock.png)}
#user-bar-out {background-image:url(../icons/lock_unlock.png)}
.clear {background-image:url(../icons/target.png)}
.previous {background-image:url(../icons/down.png)}
.next {background-image:url(../icons/up.png)}
.up {background-image:url(../icons/up.png)}
.org {background-image:url(../icons/text_list_numbers.png)}
.latex {background-image:url(../icons/sum.png)}


/**********************************************************************************/
/*                                   Page Show                                    */

#page-header {
margin: .25em;
padding: .25em;
background-color: #b1bfd0;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

#page-edit-actions ul, #page-header ul {
list-style: none;
font-size: 12;
}

#page-edit-actions ul {
float: left;
}

#page-header ul.info {
float:left;
padding: .5em;
margin: .5em;
background-color: #f1f1f3;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

#page-header ul.info li.action:hover {
background-color: #f1f1f3;
}

#page-header ul.info li.action:hover a {
color: blue;
}

#page-header ul.actions {
float:right;
}

#page-header li {
padding: 0.25em;
margin: 0.25em;
}

#page-header li.action {
padding: 0.5em;
margin: 0.5em;
background-color: #f1f1f3;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

#page-header li a {
text-decoration: none;
}

#page-header li a:visited {
color: blue;
}

#page-header li {
display: inline;
}

#page-header li.action:hover {
background-color: #a0a0a0;
}

#page-header li.action:hover a{
color: white;
}

#page-header label {
font-weight: bold;
font-size: 12;
}

#page-edit-body {
}

/**********************************************************************************/
/*                                  Page History                                  */

#page-show-body label{
font-weight: bold;
}

#page-show-body ul#history {
padding: 0.5em;
margin: 0.5em;
background-color: #ededed;
border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
list-style: none;
}

#page-show-body ul#history li {
padding: 0.5em;
margin: 0.5em;
background-color: #ccd5e1;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

#page-show-body ul#history li div.info {
}

#page-show-body ul#history li div.actions ul {
float: right;
list-style: none;
}

#page-show-body ul#history li div.actions li {
float: right;
font-size: 12;
background-color: #f1f1f3;
border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
}

#page-show-body ul#history li div.actions li:hover {
background-color: #a0a0a0;
}

#page-show-body ul#history li div.actions li:hover a {
color: white;
}

#page-show-body ul#history li div.body {
display: none;
padding: 0.5em;
margin: 0.5em;
border-radius-topleft:10px;-moz-border-radius-topleft:10px;-webkit-border-radius-topleft:10px;
border-radius-bottomleft:10px;-moz-border-radius-bottomleft:10px;-webkit-border-radius-botttom-left:10px;
background-color: white;
overflow: auto;
height: 20em;
}

/* try to override some inherited properties */
#page-show-body ul#history li div.body ul li {
padding: 0;
margin: 0;
background-color: white;
}
#page-show-body ul#history li div.body ol li {
padding: 0;
margin: 0;
background-color: white;
}

/* diffs */
#page-show-body ul#history li div.body pre {
background-color: #fbfbfb;
}

#page-show-body ul#history li div.body span.plain-line {
color: #aaaaaa;
}

#page-show-body ul#history li div.body span.plus-line {
background-color: #f2fff1;
}

#page-show-body ul#history li div.body span.minus-line {
background-color: #fff4f6;
}

#page-show-body ul#history li div.body span.plus-file-line {
background-color: #d4ffd1;
}

#page-show-body ul#history li div.body span.minus-file-line {
background-color: #ffe7ec;
}

/**********************************************************************************/
/*                                   repo show                                    */

#repo-history {
width: 50%;
float:left;
}

#repo-history #commit {
float:left;
}

#repo-history ul {
list-style: none;
float: left;
font-size: 12;
}

#repo-history ul li.action {
display: inline;
padding: 0.5em;
margin: 0.5em;
background-color: #f1f1f3;
border: 1px solid;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

#repo-history li.action:hover {
background-color: #a0a0a0;
}

#repo-history li.action:hover a{
color: white;
}

/**********************************************************************************/
/*                                   repo grep                                    */

#repo-grep-results {
padding: .25em;
margin: .25em;
background-color: #b1bfd0;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

#repo-grep-results ul {
list-style: none;
padding: 0;
margin: 0;
background-color: #f1f1f3;
border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;
}

#repo-grep-results ul li {
padding: .5em;
margin: .5em;
}

#repo-grep-results ul li ul{
max-height: 8em;
overflow: auto;
}

#repo-grep-results ul li ul li span.line-number {
margin: .25em;
padding: .25em;
background-color: #e3e3e3;
border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}

#repo-grep-results ul li ul li span.line-body {
display: inline;
margin: .25em;
padding: .25em;
background-color: #e3e3e3;
overflow: auto;
border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}

#repo-grep-results ul li ul li span.line-body pre {
float: left;
}

#repo-grep-results ul li span.grep-page-link {
float: left;
padding: .25em;
color: white;
background-color: #a0a0a0;
border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}

#repo-grep-results ul li span.grep-page-link a {
text-decoration: none;
font-weight: bold;
color: white;
}

#repo-grep-results ul li span.grep-page-link a {
text-decoration: none;
color: white;
}

#repo-grep-results ul li span.grep-page-link a:hover {
color: black;
text-decoration: bold;
}

/**********************************************************************************/
/*                                    repo at                                     */

#repo-at h2 {
float: left;
}

#repo-at ul.action{
list-style: none;
font-size: 12;
}

#repo-at ul.action li {
float: left;
padding: 0.5em;
margin: 0.5em;
background-color: #f1f1f3;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

#repo-at ul.action li:hover {
background-color: #a0a0a0;
}

#repo-at ul.action li:hover a {
color: white;
}

#repo-at ul {
list-style: none;
float: left;
}

#repo-at ul li {
padding: .25em;
margin: .1em;
text-decoration: none;
}

#repo-at ul li a:visited {
color: blue;
}

#repo-at ul li:hover {
background-color: #e3e3e3;
border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
}

/**********************************************************************************/
/*                                   repo git                                     */

h2#repo-link a {
color: blue;
text-decoration: none;
}

h2#repo-link a:hover {
color: blue;
text-decoration: underline;
}

#repo-log-graph {
float:left;
}

#repo-log-graph pre {
background-color: #f1f1f3;
overflow: auto;
height: 36em;
border-radius-topleft:8px;-moz-border-radius-topleft:8px;-webkit-border-radius-topleft:8px;
}

#repo-pages {
float: right;
}

#repo-pages ul {
list-style: none;
}

#repo-pages ul li {
padding: 0.1em;
margin: 0.1em;
}
