<ul class="actions">
  <li class="action">
    <%= link_to_remote("status",
                       :update => 'git-body',
                       :url => af_path(:status, repo),
                       :html => {:class => 'status', :title => 'view the status of this repo'}) %>
  </li>
  <li class="action">
    <%= link_to_remote("log",
                       :update => 'git-body',
                       :url => af_path(:log, repo),
                       :html => {:class => 'log', :title => 'view the log for this repo'}) %>
  </li>
  <li class="action">
    <%= link_to_remote("branches",
                       :update => 'git-body',
                       :url => af_path(:branches, repo),
                       :html => {:class => 'branches', :title => 'view the branches of this repo'}) %>
  </li>
  <% if logged_in? -%>
  
  <% end -%>
</ul>
