<h2>orGit</h2>

<p><b>orGit</b> is a simple wiki powered by org-mode and git.</p>


<h4>Git Repositories</h4>

<div id="welcome-repos">
  <ul>
  <% @repos.each do |repo| -%>
  <li>
    <%= link_to(repo.name, af_path(:at, repo),
                :title => "Enter #{repo.name}") %>
    |
    <%= link_to(repo.name, af_path(:git, repo),
                :title => "Git repository information for #{repo.name}") %>
  </li>
  <% end -%>
  </ul>
</div>
