<h2>orGit-wiki</h2>

<p>a simple wiki powered by org-mode and git</p>

<ul>
  <% @repos.each do |repo| -%>
  <li>
    <%= link_to(repo.name, af_path(:enter, repo),
                :title => "Enter #{repo.name}") %>
    |
    <%= link_to(repo.name, af_path(:git, repo),
                :title => "Git repository information for #{repo.name}") %>
  </li>
  <% end -%>
</ul>
