<div class="welcome-block" id="welcome-orgit">
  <h2>orGit is...</h2>
  <div>
    <p>
      <b>orGit</b> is a wiki powered by
      <a href="http://orgmode.org" title="Org-Mode homepage">Org-Mode</a>
      and
      <a href="http://git-scm.com/" title="Git homepage">Git</a>.
    </p>
  </div>

  <h3>Org-Mode for markup</h3>
  <div>
    <p>
      Org-Mode is a very powerful plain text markup language; a
      literate programming language, a task/project management system,
      an html and LaTeX authoring system, and a simple note taking
      tool.
    </p>
    <p>
      Org-Mode provides export to html, latex, and ASCII.  It supports
      tables and spreadsheets, data visualization and processing,
      embedded source-code, LaTeX equations, and much much more...
    </p>
    <p>For more information on Org-Mode see:</p>
  </div>

  <h3>Git for version control</h3>
  <div>
    <p>
      Git is an open source, distributed version control system
      designed to handle everything from small to very large projects
      with speed and efficiency.
    </p>
    <p>
      Git provides sophisticated tracking of page versions, diffs, and
      edit history.  In addition git allows users to edit offline and
      selectively push their commits to orGit.
    </p>
  </div>
</div>

<div class="welcome-block" id="welcome-repos">
  <h2>Projects hosted here...</h2>
  <div>
    <ul>
      <% @repos.each do |repo| -%>
      <li>
	<span class="welcome-repo-name">
	  <center>
	    <%= link_to(truncate(repo.name, 12), af_path(:at, repo),
                        :title => "Enter the top level of #{repo.name}") %>
	  </center>
	</span>
	<span class="welcome-repo-info">
	  <%= link_to('Enter', af_path(:at, repo),
                      :title => "Enter the top level of #{repo.name}") %>,
          view git
          <%= link_to('info', af_path(:git, repo),
                      :title => "View git repository information for #{repo.name}") %>,
          or
	  <%= link_to('customize', af_path(:custom, repo),
                      :title => "Customize the behavior and appearance of #{repo.name} in orGit") %>
        </span>
      </li>
      <% end -%>
    </ul>
  </div>
</div>

<div class="welcome-block" id="welcome-thanks">
  <h2>Code and Design</h2>
  <div>
    <p>
      <b>orGit</b> combines the plain text magic or <b>Org-Mode</b>
      with the version control of <b>git</b> to produce a very
      sophisticated wiki with as little new code as possible.
    </p>
    <p>
      <b>orGit</b> tries to maintain a <b>clean and hackable</b> code
      base so that everything from the <b>control flow</b> to
      the <b>css</b> can be easily tweaked and customized.
    </p>
    <p>
      <b>orGit</b> is built using the
      <a href="http://rubyonrails.org/">Ruby on Rails</a>
      web framework, with the addition of
    </p>
    <ul>
      <li>
	<a href="http://github.com/eschulte/active_file/tree/master">ActiveFile</a> which
	allows RoR models to be saved in plain text files
      </li>
      <li>
	<a href="http://github.com/eschulte/acts_as_org/tree/master">acts_as_org</a> which
	allows ActiveFile models to express Org-Mode behaviors
      </li>
      <li>
	<a href="http://github.com/eschulte/acts_as_git/tree/master">acts_as_git</a> which
	allows ActiveFile models to express git behaviors through
	<a href="http://jointheconversation.org/rubygit/">Ruby/Git</a>
      </li>
    </ul>
    <p>
      The latest code for <b>orGit</b> can be found
      <a href="http://github.com/eschulte/orGit/tree/master">here</a>.
    </p>
    <p>This is still a work in progress and will hopefully soon include</p>
    <ul>
      <li>an administrative interface allowing the customization of repo views</li>
      <li>
	An <tt>acts_as_yaml</tt> addition to ActiveFile which will
	allow the storage of arbitrary <tt>key => value</tt> pairs in
	a text hash saved in the file body, and can be useful in for
	saving orGit repo customizations.
      </li>
    </ul>
  </div>

</div>
