<% form_tag(af_path(:update, @page)) do -%>
<div id="page-edit-body">
  <%= text_area_tag(:body, @page.body, :cols => 100, :rows => 34) %>
</div>
<div id="page-edit-actions">
      <label>Commit Message</label><br/>
      <%= text_area_tag(:commit, "", :cols => 70) %> <br/>
      <%= submit_tag("Commit Changes") %>
      <%= link_to("Cancel", :back, :class => 'cancel', :title => "abandon this edit") %>
</div>
<% end -%>
